.vs/
.vscode/
.idea/
.tmp/
**/bin/
**/obj/
**/out/
**/runs/
**/logs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user
*.dotCover
nlog.internal.log
__pycache__/
.tests/
.env/
.env
venv/
Samples/*.jpg